[toolchain]
anchor_version = "0.32.1"
solana_version = "3.0.13"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
memelab_dex = "EdARKxJ9vBQfiapXTqfBQvtLzmwxaPSCNsS5AU5R8DCm"

[programs.localnet]
memelab_dex = "EdARKxJ9vBQfiapXTqfBQvtLzmwxaPSCNsS5AU5R8DCm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "https://devnet.helius-rpc.com/?api-key=c6a24faf-7b70-4411-9a49-3510ec881e08"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[test]
startup_wait = 10000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/fixtures/mpl_token_metadata.so"
